@{
    ViewBag.Title = "Caught it Here";
}
@*<h2>@ViewBag.Title.</h2>*@


    <head>
        <style>
            #map_canvas {
                width: 500px;
                height: 400px;
            }
        </style>
       
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script>
            function initialize() {

                var map_canvas = document.getElementById('map_canvas');
                var map_options = {
                    center: new google.maps.LatLng(42.335882, -83.050456),
                    zoom: 16,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                }
                var map = new google.maps.Map(map_canvas, map_options)
                var myLatlng = new google.maps.LatLng(42.335882, -83.050456);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: 'Hello World!',
                    icon: 'https://maps.google.com/mapfiles/kml/shapes/' + 'fishing.png'
                });
            }
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>

    </head>
    <body>
        <p> 
            <strong>Caught It Here</strong><em> is a new, innovative app</em> created to track <br />
            and showcase those big catches! The app is currently dedicated <br />
            to Michigan, but we hope to be able to support fisherman around<br /> 
            the world in the future. Use the app to keep track your own<br />
            personal hotspots, see which areas are trending, or to find a <br />
            new spot for fishing. Feel free to brag a bit! Upload a picture<br />
            of that big mouth bass and tell us all about it!
        </p>
    <div id="map_canvas"></div>
</body>

