@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>About Caught it here</h3>

<p><strong>Caught it here</strong><em> is a new, innovative app</em> created to track and showcase those big catches. The app is currently dedicated to the michgan area,
    but we hope to be able to support the world in the future. Use the app to keep track your own <strong>personal hotspots</strong>, see which <strong>areas are trending</strong>,
     or to even <strong>find a new spot</strong> for fishing. Feel Free to <em>brag a bit</em> and upload a picture of that big mouth bass, then tell us all about it!</p>
