@{
    ViewBag.Title = "Caught it Here";
}
@*<h2>@ViewBag.Title</h2>*@


    <head>
        <style>
            #map_canvas {
                width: 500px;
                height: 400px;
            }
        </style>
       
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script>
            function initialize() {

                var map_canvas = document.getElementById('map_canvas');
                var map_options = {
                    center: new google.maps.LatLng(42.335882, -83.050456),
                    zoom: 16,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                }
                var map = new google.maps.Map(map_canvas, map_options)
                var myLatlng = new google.maps.LatLng(42.335882, -83.050456);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: 'Hello World!',
                    icon: 'https://maps.google.com/mapfiles/kml/shapes/' + 'fishing.png'
                });
            }
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>

    </head>
    <body>
    
        <p> 
            <strong>Caught It Here</strong> is a new, innovative app created to track and showcase those big catches! The app is currently dedicated to Michigan, but we hope to be able to support fisherman around the world in the future. 
            Keep track your own personal hotspots, see which areas are trending, or find a new spot for fishing. Feel free to brag a bit! Upload a picture of that big mouth bass and tell us all about it!
        </p>
    <div id="map_canvas"></div>
</body>

<footer>
    <address>
        1570 Woodward Avenue
        Detroit, MI 48226
        <abbr title="Phone">P:</abbr>
        (313) 222-4481 (Caught1)
    </address>
</footer>