@{
	ViewBag.Title = "Resources";
}
<h2>@ViewBag.Title.</h2>
<h3>Here are some sites to help with your fishing!</h3>


<body>
    <ul>
        <li> <a href="http://www.michigan.gov/dnr" target="_blank">Michigan Department of Natural Resources</a></li>
        <br />
        <li><a href="https://www.michigan.org/Fishing‎" target="_blank">Fishing in Michigan</a></li>
        <br />
        <li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&cad=rja&uact=8&ved=0CEsQFjAB&url=http%3A%2F%2Fwww.michigan.gov%2Fdnr%2F0%2C4570%2C7-153-10364_63235---%2C00.html&ei=mcnoU_a8KYmdyAS3w4KIBg&usg=AFQjCNEE0iTy1HpMMU1yQi_1OtD2YN3hyw&sig2=Xvu1uD4_HCxQ1i4Sw8l6aw&bvm=bv.72676100,d.aWw" target="_blank">Michigan Fishing licenses, seasons, and regulations</a> </li>
        <br />
        <li><a href="http://www.fishmich.com/" target="_blank">FishMich</a></li>
        <br />
        <li><a href="http://www.fishweb.com/hotspots/" target="_blank">Fishwebs Fish Reports</a></li>
        <br />
        <li><a href="http://www.fishweb.com/recreation/fishing/fishing.html" target="_blank">Recreational Michigan Fishing</a></li>
        <br />
        <li><a href="http://www.eregulations.com/michigan/fishing/" target="_blank">Eregulations 2014 Michigan Fishing Guide</a></li>
        <br/>
        <li><a href="http://www.mdnr-elicense.com/" target="_blank">Buy Michigan Fishing License online</a></li>
    </ul>
</body>



