@{
	ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Group 2</h3>

<head>
	<style>
		#map_canvas {
			width: 500px;
			height: 400px;
		}
	</style>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script>
		function initialize() {

		var map_canvas = document.getElementById('map_canvas');
		var map_options = {
		  center: new google.maps.LatLng(42.335882, -83.050456),
		  zoom: 16,
		  mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		var map = new google.maps.Map(map_canvas, map_options)
		var myLatlng = new google.maps.LatLng(42.335882, -83.050456);
		var marker = new google.maps.Marker({
	  position: myLatlng,
	  map: map,
	  title: 'Hello World!',
	  icon: 'https://maps.google.com/mapfiles/kml/shapes/' + 'dining.png'
  });
	  }
	  google.maps.event.addDomListener(window, 'load', initialize);
	</script>
</head>
<body>
	<div id="map_canvas"></div>
</body>


<address>
    1570 Woodward Ave<br />
	Detroit, Mi 48226<br />
	<abbr title="Phone">P:</abbr>
	111.228.4481(Caught1)
</address>

