@{
	ViewBag.Title = "Resources";
}
@*<h2>@ViewBag.Title.</h2>*@

<h3>Here are some sites to help with your fishing!</h3>

<body>
    <ul>
        <li> <a href="http://www.michigan.gov/dnr" target="_blank">Michigan Department of Natural Resources</a></li>
        <br />
        <li><a href="https://www.michigan.org/Fishing‎" target="_blank">Fishing in Michigan</a></li>
        <br />
        <li><a href="http://www.michigan.gov/dnr/0,4570,7-153-10364_63235---,00.html" target="_blank">Michigan fishing licenses, seasons, and regulations</a> </li>
        <br />
        <li><a href="http://www.fishmich.com/" target="_blank">FishMich</a></li>
        <br />
        <li><a href="http://www.fishweb.com/hotspots/" target="_blank">Fishwebs Fish Reports</a></li>
        <br />
        <li><a href="http://www.fishweb.com/recreation/fishing/fishing.html" target="_blank">Recreational Michigan Fishing</a></li>
        <br />
        <li><a href="http://www.eregulations.com/michigan/fishing/" target="_blank">Eregulations 2014 Michigan Fishing Guide</a></li>
        <br/>
        <li><a href="http://www.mdnr-elicense.com/" target="_blank">Buy Michigan Fishing License online</a></li>
    </ul>
</body>



