@{
    ViewBag.Title = "Home Page";
}


<style type="text/css">
    html {
        height: 100%;
    }

    body {
        height: 100%;
        margin: auto;
        padding: 0;
    }

    #map-canvas {
        height: 100%;
    }
</style>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1BssRYwTrrNmKj7nTR9Do6DanISnxpK8"></script>

<script type="text/javascript">
    var tempLat;
    var tempLng;



    function plotNewFish(x, y) {
        //var fishLatvar = x;
        //var fishLngvar = y;

        window.location.href = "/Fish/Create/?fishLat=" + x + "&fishLng=" + y;


    }

    var createNewFish = "<p>Add new fish here?</p>" +
                        "<input type='button' value='Yes' onclick='plotNewFish(tempLat, tempLng)' id='newFish'/>";

 

    function create_marker(tempLocation, theMap) {


        var marker = new google.maps.Marker({
            position: tempLocation,
            map: theMap,

        });


        var infowindow = new google.maps.InfoWindow({
            content: createNewFish

        });
       
        infowindow.open(theMap, marker);


    }





    function initialize() {
        var myCenter = new google.maps.LatLng(42.6818153, -83.3661168);
        var mapOptions = {
            center: myCenter,
            zoom: 16, mapTypeId:
            google.maps.MapTypeId.SATELLITE

        };

        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        var marker = new google.maps.Marker({ position: myCenter });
        var myCenter = new google.maps.LatLng(42.6818153, -83.3661168);


        google.maps.event.addListener(map, 'rightclick', function (event) {
            create_marker(event.latLng, map)
            tempLat = event.latLng.lat();
            tempLng = event.latLng.lng();
        });


    }

    google.maps.event.addDomListener(window, 'load', initialize);

</script>


<div id="map-canvas" style="width:1000px; height:600px;"></div>
<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-xs-7" id="left">
        </div>
        <div class="col-xs-5"><!--map-canvas will be postioned here--></div>
    </div>
</div>

