body {
    padding-top: 90px;
    padding-bottom: 0;
    background-color:#0f5c6d;
    color:#a7de1d;
   font-family: 'Century Gothic';
     background: url("http://www.sportwallpapers.org/images/wallpapers-desktop-wallpaper-resolution-fishing_122705.jpg") no-repeat fixed left bottom ;
}

.searchButton {
    background-color: #BFAD47;
    color: #333333;
    border-color: #333333;
}

.smSearchBtn {
    background-color: #BFAD47;
    color: #333333;
    border-color: #333333;
}

.smInfoBtn {
    background-color: #BFAD47;
    color: #333333;
    border-color: #333333;
}

<<<<<<< HEAD
    .rightpicturetop{
        position:absolute;
        left:0;
        right:25%;
        top:0;
        bottom:30%;

}
    .rightpicturebottom{
        position:absolute;
        left:0;
        right:25%;
        top:30%;
        bottom:0;

    }
=======
.socMediaLogIn{
    float:left;
}

.divImageLure{

}

>>>>>>> origin/master

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 0;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

