@{
    ViewBag.Title = "FishByType";
}

<h3>FishByType</h3>


<div>
        <form name="input" action="~/FilteredFish2/Index" method="get">
        <input type="checkbox" name="fish" value="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20">Select All <br>
        <input type="checkbox" name="fish" value="1"> Bowfin <br>
        <input type="checkbox" name="fish" value="2">BullHead<br>
        <input type="checkbox" name="fish" value="3">Carp<br>
        <input type="checkbox" name="fish" value="4">CatFish<br>
        <input type="checkbox" name="fish" value="5">Herring<br>
        <input type="checkbox" name="fish" value="6">Largemouth<br>
        <input type="checkbox" name="fish" value="7">Muskellunge<br>
        <input type="checkbox" name="fish" value="8">Pan Fish <br>
        <input type="checkbox" name="fish" value="9">Pike<br>
        <input type="checkbox" name="fish" value="10">Rock Bass<br>
        <input type="checkbox" name="fish" value="11">Salmon<br>
        <input type="checkbox" name="fish" value="12">Smallmouth Bass<br>
        <input type="checkbox" name="fish" value="13">Smelt<br>
        <input type="checkbox" name="fish" value="14">Sturgeon<br>
        <input type="checkbox" name="fish" value="15">Trout<br>
        <input type="checkbox" name="fish" value="16">Walleye<br>
        <input type="checkbox" name="fish" value="17">White Bass<br>
        <input type="checkbox" name="fish" value="18">White Fish<br>
        <input type="checkbox" name="fish" value="19">White/Longnos<br>
        <input type="checkbox" name="fish" value="20">Yellow Perch<br>
            Start Date: <input type="date" name="startDateFilter" id="startDate"><br />
            End Date: <input type="date" name="endDateFilter" id="endDate"><br />
        <br />
        <input type="submit" value="submit">
    </form>
    <script>
        function checkAll(eventInfo)
        {
            var option = document.getElementById("selectFish");
            for (var i = 0; i < option.length; i++) {
                option[i].checkAll = event.srcElement.checked;

            }
        }
    </script>
</div>


















