@{
    ViewBag.Title = "FishByType";
}

<h3>FishByType</h3>
<div>

    <input type="checkbox" name="Sample">Bowfin <br>
    <input type="checkbox" name="Sample">BullHead<br>
    <input type="checkbox" name="Sample">Carp<br>
    <input type="checkbox" name="Sample">CatFish<br>
    <input type="checkbox" name="Sample">Herring<br>
    <input type="checkbox" name="Sample">Largemouth<br>
    <input type="checkbox" name="Sample">Muskellunge<br>
    <input type="checkbox" name="Sample">Pan Fish <br>
    <input type="checkbox" name="Sample">Pike<br>
    <input type="checkbox" name="Sample">Rock Bass<br>
    <input type="checkbox" name="Sample">Salmon<br>
    <input type="checkbox" name="Sample">Smallmouth Bass<br>
    <input type="checkbox" name="Sample">Smelt<br>
    <input type="checkbox" name="Sample">Sturgeon<br>
    <input type="checkbox" name="Sample">Trout<br>
    <input type="checkbox" name="Sample">Walleye<br>
    <input type="checkbox" name="Sample">White Bass<br>
    <input type="checkbox" name="Sample">White Fish<br>
    <input type="checkbox" name="Sample">White/Longnos<br>
    <input type="checkbox" name="Sample">Yellow Perch<br>
    <br />
    <button type="button">Submit</button>
</div>




















