@model CaughtItHere.Fish

@{
    ViewBag.Title = "FishByDate";
}

<h3>Fish By Date</h3>
<div>
    <form method="get" action="~/Home/Index" name="fishByDateForm">
        Start Date: <input type="date" name="startDateFilter" id="startDate"><br />
        End Date: <input type="date" name="endDateFilter" id="endDate"><br />
        <input type="submit" value="Submit">
    </form>
</div>

<script>

</script>

@*<body onload=alert(document.getElementById(startDate))>
    Testing
</body>*@