@model CaughtItHere.Fish

@{
    ViewBag.Title = "FishByDate";
}

<h2>Fish By Date</h2>
<div>
Start Date: <input type="date" name="startDate"><br />
End Date: <input type="date" name="endDate">
</div>

